NEXT_PUBLIC_SITE_URL=https://www.olavurellefsen.com
NEXT_PUBLIC_USABLE_CMS_ORIGIN=https://cms.usable.dev
NEXT_PUBLIC_USABLE_CMS_SITE_ID=
NEXT_PUBLIC_USABLE_CMS_INTEGRATION_KEY=
USABLE_API_BASE_URL=https://usable.dev
USABLE_CMS_WORKSPACE_ID=
USABLE_CMS_GLOBAL_CONFIG_FRAGMENT_ID=
USABLE_CMS_SERVER_TOKEN=
CMS_CONTENT_SOURCE=usable
